{% extends "layouts/page.html" %}

{% block content %}
{% include "layouts/social.html" %}
<section id="main-content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Invoice</h3>
        </div>

        <div class="card-body">
            <!-- Invoice Details -->
            <div class="mb-4 pull-right">
                <h5>Invoice Details:</h5>
                <p><strong>Invoice Number:</strong> {{ order.order_id }}</p>
                <p><strong>Time:</strong> {{ order.order_datetime }}</p>
            </div>

            <!-- Customer Details -->
            <div class="mb-4">
                <h5>Customer Details:</h5>
                <p><strong>Name:</strong> {{ customer.full_names }}</p>
                <p><strong>Surname:</strong> {{ customer.surname }}</p>
                <p><strong>Email:</strong> {{ customer.email }}</p>
                <p><strong>Contact:</strong> {{ customer.contact_number }}</p>
                {% if address %}
                    <p><strong>Delivery Address:</strong> {{ address.address_line_1 }}</p>
                {% endif %}
            </div>

            <!-- Order Items -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.items_ordered %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td>R {{ item.price| number }}.00</td>
                        <td>{{ item.quantity| number }}</td>
                        <td>R {{ item.total_price| number }}.00</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Payment Details -->
            <div class="mt-4">
                <h5>Payment Details:</h5>
                <p><strong>Sub Total:</strong> R {{ order.total_price| number }}.00</p>
                <p><strong>Discount:</strong> R {{ order.total_discount| number }}.00</p>
                <p><strong>Total: </strong> R {{ (order.total_price - order.total_discount) | number }}.00</p>
            </div>
        </div>

    </div>

</section>

{% endblock %}
