{% extends "layouts/page.html" %}
{% block custom_css %}
    <style>
.scrollable-row {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}

.scrollable-row hr {
    border-top: 2px dashed #ccc;
    margin-top: 20px;
    margin-bottom: 0;
}

.scrollable-row .row {
    display: inline-block;
    width: auto;
}

.scrollable-row .row > .col-lg-6, .scrollable-row .row > .col-md-6 {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.scrollable-row .row > .col-lg-6:nth-child(odd), .scrollable-row .row > .col-md-6:nth-child(odd) {
    padding-right: 20px;
}

.scrollable-row .scrollable-arrow {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #0056b3; /* Jira's blue color */
    margin: -25px auto 0;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
}

.scrollable-row .scrollable-arrow:hover {
    background-color: #003366; /* Darker shade of Jira's blue color */
}

    </style>
{% endblock %}
{% block content %}
<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title font-weight-bold ">
                Dreamland Chemicals
            </h1>
        </div>



            <div class="scrollable-row">


                    <div class="row">
                        <!-- Image Column -->
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ url_for('static', filename='images/cleaning.jpg') }}" class="img-fluid" alt="Car Wash Soaps">
                        </div>
                        <!-- Content Column -->
                        <div class="col-lg-6 col-md-6">
                            <h2 class="card-title font-weight-bold text-info">Car Wash Soaps</h2>
                            <p>Our range of car wash soaps includes:</p>
                            <ul class="list-group">
                                <li class="list-group-item">High Foaming Car Wash</li>
                                <li class="list-group-item">Waterless Car Wash</li>
                                <li class="list-group-item">Bug & Tar Remover</li>
                                <!-- Add more car wash soap products as needed -->
                            </ul>
                        </div>
                    </div>



                    <div class="row">
                        <!-- Image Column -->
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ url_for('static', filename='images/cleaning_2.jpg') }}" class="img-fluid" alt="Car Wash Soaps">
                        </div>

                        <!-- Content Column -->
                        <div class="col-lg-6 col-md-6">
                            <h2 class="card-title font-weight-bold text-info">Kitchen & House Cleaning Soaps</h2>
                            <p>For kitchen and house cleaning, we offer:</p>
                            <ul class="list-group">
                                <li class="list-group-item">Dishwashing Liquid</li>
                                <li class="list-group-item">All-Purpose Cleaner</li>
                                <li class="list-group-item">Deodorizers</li>
                                <!-- Add more kitchen and house cleaning products as needed -->
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ url_for('static', filename='images/cleaning_3.jpg') }}" class="img-fluid" alt="Car Wash Soaps">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h2 class="card-title font-weight-bold text-info">General Cleaning Soaps</h2>
                            <p>Our general cleaning soaps include:</p>
                            <ul class="list-group">
                                <li class="list-group-item">Glass Cleaner</li>
                                <li class="list-group-item">Floor Cleaner</li>
                                <li class="list-group-item">Surface Disinfectants</li>
                                <!-- Add more general cleaning products as needed -->
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ url_for('static', filename='images/cleaning_4.jpg') }}" class="img-fluid" alt="Car Wash Soaps">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h2 class="card-title font-weight-bold text-info">Industrial Cleaning Chemicals</h2>
                            <p>We provide industrial-grade cleaning chemicals such as:</p>
                            <ul class="list-group">
                                <li class="list-group-item">Heavy-Duty Degreasers</li>
                                <li class="list-group-item">Rust Removers</li>
                                <li class="list-group-item">Solvent Cleaners</li>
                                <!-- Add more industrial cleaning chemicals as needed -->
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ url_for('static', filename='images/cleaning_5.jpg') }}" class="img-fluid" alt="Car Wash Soaps">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h2 class="card-title font-weight-bold text-info">Bathroom Cleaning Supplies</h2>
                            <p>For bathroom cleaning, we offer:</p>
                            <ul class="list-group">
                                <li class="list-group-item">Toilet Bowl Cleaners</li>
                                <li class="list-group-item">Tile & Grout Cleaners</li>
                                <li class="list-group-item">Mildew Removers</li>
                                <!-- Add more bathroom cleaning products as needed -->
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ url_for('static', filename='images/cleaning_6.jpg') }}" class="img-fluid" alt="Car Wash Soaps">
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <h2 class="card-title font-weight-bold text-info">Floor Care Products</h2>
                            <p>Keep your floors clean and shiny with our floor care products:</p>
                            <ul class="list-group">
                                <li class="list-group-item">Wax Strippers</li>
                                <li class="list-group-item">Sealers</li>
                                <li class="list-group-item">Polishers</li>
                                <!-- Add more floor care products as needed -->
                            </ul>
                        </div>
                    </div>

                <!-- Add more tab-content divs for additional groups -->
            </div>

    </div>
</section>

{% endblock %}
